node_modules/
dist/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.env
.env.*
*.log
.DS_Store
Thumbs.db
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/app/google-services.json
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GoogleService-Info.plist
